.chat-main
  .group-info
    .group-info__info-left
      %p.group-info__info-left--name
        = @group.name
      %ul.group-info__info-left--member-list
        Member :
        - @group.users.each do |user|
          %li= user.name
        %li
    =link_to edit_group_path(@group), class: "group-info__info-right" do
      Edit
  .message-list
    = render @messages    
  .message-form
    = form_for [@group, @message] do |f|
      .new_message__input-box
        = f.text_field :content, class: 'new_message__input-box--text', placeholder: "type a message"
        = f.label :image, class: 'new_message__input-box--image' do
          %i.far.fa-image
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'new_message__submit-btn'